<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<eloom_checkout>
			<general>
				<unique_taxvat>1</unique_taxvat>
			</general>
		</eloom_checkout>
	</default>
</config>