<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="eloom_checkout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Checkout</label>
			<tab>eloom</tab>
			<resource>Eloom_Checkout::config</resource>
			<group id="information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Information</label>
				<frontend_model>Eloom\Checkout\Block\Adminhtml\System\Config\Information</frontend_model>
			</group>

			<group id="general" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Checkout - eloom.dev</label>
				<field id="unique_taxvat" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Unique Taxvat</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Unique Taxvat Note</comment>
				</field>
			</group>
		</section>
	</system>
</config>